.slick-next:before {
    position: absolute;
    top: 126px;
    right: 40%;
    font-size: 3.8rem;
}

.slick-prev:before {
    color: white;
    font-size: 3.8rem;
}

button.slick-arrow.slick-prev {
    width: 50px;
    height: 20%;
    z-index: 1;
    top: 155px;
    left: 10px;
    position: absolute;
}

.carousel-slide {
    display: inline-block;
    position: relative;
    min-width: 100px;
    word-wrap: break-word;
    background-color: #fff;

    border-radius: 0.25rem;
}

.slide-button {
    padding: 4px 0px;
    border-radius: 15px 15px 15px 15px;
    box-shadow: rgba(255, 1, 1, 0.3) 0px 10px 20px 1px;
    width: 90%;
    border: none;
    font-weight: bold;
}

.slide-button:focus {
    outline: none;
}

.slide-title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: white;
    font-weight: bold;
    margin-bottom: 0px;
}

.slide-author {
    margin-bottom: 0.5rem;
    color: white;
}

.slide-review {
    margin-bottom: 1rem;
    display: inline;
    color: white;
    font-size: 10px;
    margin-left: 8px;
}

@media screen and (min-width: 1300px) {
    .jumbotron-container-main {
        max-width: 1200px !important;
    }
}
